name: ci

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on:
      - self-hosted
      - docker
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: jjzi/hello-action:0.1
      -
        name: Run built image
        run: |
          docker run --rm jjzi/hello-action:0.1
